@import "tailwindcss";

@font-face {
   font-family: "Inter";
   font-weight: 100 900;
   font-display: swap;
   font-style: normal;
   font-named-instance: "Regular";
   src: url("/fonts/Inter-roman.woff2") format("woff2-variations");
}

@font-face {
   font-family: "Inter";
   font-weight: 100 900;
   font-display: swap;
   font-style: italic;
   font-named-instance: "Italic";
   src: url("/fonts/Inter-italic.woff2") format("woff2-variations");
}

:root {
   --background: white;
   --foreground: hsl(222.2 84% 4.9%);
   --card: white;
   --card-foreground: hsl(222.2 84% 4.9%);
   --popover: white;
   --popover-foreground: hsl(222.2 84% 4.9%);
   --primary: hsl(262.1 83.3% 57.8%);
   --primary-foreground: hsl(210 40% 98%);
   --secondary: hsl(210 40% 96.1%);
   --secondary-foreground: hsl(222.2 47.4% 11.2%);
   --muted: hsl(210 40% 96.1%);
   --muted-foreground: hsl(215.4 16.3% 46.9%);
   --accent: hsl(210 40% 96.1%);
   --accent-foreground: hsl(222.2 47.4% 11.2%);
   --destructive: hsl(0 84.2% 60.2%);
   --destructive-foreground: hsl(0 62.8% 30.6%);
   --border: hsl(214.3 31.8% 91.4%);
   --input: hsl(214.3 31.8% 91.4%);
   --ring: hsl(262.1 83.3% 57.8%);
   --radius: 0.5rem;
}

.dark {
   --background: hsl(222.2 84% 4.9%);
   --foreground: hsl(210 40% 98%);
   --card: hsl(222.2 84% 4.9%);
   --card-foreground: hsl(210 40% 98%);
   --popover: hsl(222.2 84% 4.9%);
   --popover-foreground: hsl(210 40% 98%);
   --primary: hsl(263.4 70% 50.4%);
   --primary-foreground: hsl(210 40% 98%);
   --secondary: hsl(217.2 32.6% 17.5%);
   --secondary-foreground: hsl(210 40% 98%);
   --muted: hsl(217.2 32.6% 17.5%);
   --muted-foreground: hsl(215 20.2% 65.1%);
   --accent: hsl(217.2 32.6% 17.5%);
   --accent-foreground: hsl(210 40% 98%);
   --destructive: hsl(0 62.8% 30.6%);
   --destructive-foreground: hsl(0 62.8% 30.6%);
   --border: hsl(217.2 32.6% 17.5%);
   --input: hsl(217.2 32.6% 17.5%);
   --ring: hsl(263.4 70% 50.4%);
}

@theme {
   /* Определение брейкпоинтов */
   --breakpoint-xs: 400px;
   --breakpoint-sm: 576px;
   --breakpoint-md: 768px;
   --breakpoint-lg: 992px;
   --breakpoint-xl: 1024px;
   --breakpoint-2xl: 1400px;
   --breakpoint-3xl: 1650px;

   --color-black: #000;
   --color-white: #fff;
   --color-blue-300: oklch(0.809 0.105 251.813);
   --color-blue-400: oklch(0.707 0.165 254.624);
   --color-blue-500: oklch(0.623 0.214 259.815);
   --color-red-400: oklch(0.704 0.191 22.216);
   --color-red-500: oklch(0.637 0.237 25.331);
   --color-red-600: oklch(0.577 0.245 27.325);
   --color-gray-300: oklch(0.872 0.01 258.338);
   --color-gray-400: oklch(0.707 0.022 261.325);
   --color-gray-500: oklch(0.551 0.027 264.364);
   --color-gray-600: oklch(0.446 0.03 256.802);
   --color-gray-700: oklch(0.373 0.034 259.733);
   --color-gray-800: oklch(0.278 0.033 256.848);

   /* Цвета */
   --color-transparent: transparent;
   --color-tag: rgba(208, 169, 132, 0.1);
   --color-tagHover: rgba(208, 169, 132, 0.2);
   --color-background: var(--background);
   --color-foreground: var(--foreground);
   --color-card: var(--card);
   --color-card-foreground: var(--card-foreground);
   --color-popover: var(--popover);
   --color-popover-foreground: var(--popover-foreground);
   --color-primary: var(--primary);
   --color-primary-foreground: var(--primary-foreground);
   --color-secondary: var(--secondary);
   --color-secondary-foreground: var(--secondary-foreground);
   --color-muted: var(--muted);
   --color-muted-foreground: var(--muted-foreground);
   --color-accent: var(--accent);
   --color-accent-foreground: var(--accent-foreground);
   --color-destructive: var(--destructive);
   --color-destructive-foreground: var(--destructive-foreground);
   --color-border: var(--border);
   --color-input: var(--input);
   --color-ring: var(--ring);

   /* Радиусы */
   --radius-xl: calc(var(--radius) + 4px);
   --radius-lg: var(--radius);
   --radius-md: calc(var(--radius) - 2px);
   --radius-sm: calc(var(--radius) - 4px);

   /* Шрифты */
   --font-Inter: "Inter";
}

@layer base {
   * {
      @apply border-border outline-ring/50;
   }
   body {
      @apply bg-background text-foreground;
   }

   button {
      @apply cursor-pointer;
   }
}

@utility container {
   margin-inline: auto;
   padding-inline: 16px;
   max-width: var(--breakpoint-2xl);
}

@custom-variant dark (&:where(.dark, .dark *));

@keyframes accordion-down {
   from {
      height: 0;
   }
   to {
      height: var(--radix-accordion-content-height);
   }
}

@keyframes accordion-up {
   from {
      height: var(--radix-accordion-content-height);
   }
   to {
      height: 0;
   }
}

@keyframes collapsible-down {
   from {
      height: 0;
   }
   to {
      height: var(--radix-collapsible-content-height);
   }
}

@keyframes collapsible-up {
   from {
      height: var(--radix-collapsible-content-height);
   }
   to {
      height: 0;
   }
}

@utility accordion-down {
   animation: accordion-down 0.2s ease-out;
}

@utility accordion-up {
   animation: accordion-up 0.2s ease-out;
}

@utility collapsible-down {
   animation: collapsible-down 0.2s ease-in-out;
}

@utility collapsible-up {
   animation: collapsible-up 0.2s ease-in-out;
}

@theme inline {
   --animate-accordion-down: accordion-down 0.2s ease-out;
   --animate-accordion-up: accordion-up 0.2s ease-out;
}

.page-enter-active,
.page-leave-active {
   transition: all 0.3s ease-out;
}
.page-enter-from {
   opacity: 0;
   transform: translateY(20px);
}
.page-leave-to {
   opacity: 0;
   transform: translateY(-20px);
}
